@font-face {
    font-family: 'SpaceFont';
    src: url(Ancient\ Modern\ Tales.otf);
}
* {
    margin:0;
    padding:0;
}

body {
    background: black;
}
    
.header {
    background: #4caf50;
    width: 100%;
    height: 150px;
    text-align: center;
    color:White;
    text-shadow: 4px 4px black;
}
    
.title {
    line-height:150px;
    font-family: 'SpaceFont', sans-serif;
    font-size: 35px;
}

canvas {
    position: absolute;
    background-color:rgb(39, 39, 39);
    left:50%;
    margin-left:-400px;
    margin-top:30px;
}